<!--#########################################################################################################-->
   {{#if info}}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro-text py-5 mt-5 text-center bg-body-tertiary border border-1 ">
                        <div class="heading mb-3 display-5 ">Lisbon Spots</div>
                        <div class="fs-5 fw-light ">{{info.name}}</div>

                    </div>
                </div>
            </div>
        </div>

    </header>
    {{/if}}

<!--#########################################################################################################-->
   
{{#if mainPics}}
    <div class="container-fluid  my-5 ">
        <div class="row justify-content-around g-0  ">

            <div class="col-md-5 text-center">
                <img class=" rounded-3 spot-img float-end " src="{{mainPics.[0].url}}" >

            </div>
            <div class="col-md-2 text-center">
                <img class=" rounded-3 mx-auto spot-img " src="/images/vetor3.svg" alt="">
            </div>
            <div class="col-md-5 text-center">
                <img class=" rounded-3 mx-auto spot-img float-start " src="{{mainPics.[1].url}}">
            </div>
        </div>

    </div>
{{/if}}

    <!---------------------------------------------------------------------------------------------------------------------->

{{#if info}}
    <div class="container-fluid mx-auto d-block">
        <div class="row justify-content-start ms-5">
            <div class="col-md-7 ms-4">
                <div class="intro-text-museu fw-bold">{{info.name}}</div>
                <div class="text-body-museu text-muted">{{info.description}} </div>
    </div>

    <div class="container-fluid">
        <div class="row  d-flex justify-content-between " ></div>
        
            <div class="col-md-12 mt-5  ">
                <div class="text-address fw-bold">{{info.address}}</div>
            </div>

            
    </div>
  
{{/if}}                

<div class="container ">
    <div class="row justify-content-start  mt-5">
        <div class="col-10 mt-5">
            <div class="ms-2 fw-bold text-muted text-align-start">Mais fotografias</div>
        </div>
    </div>
</div>

<div class="container mb-5 ">
    <div class="row justify-content-around  gy-4 me-5 ">
    
{{#each pics}}
        
        <div class="col-md-4">
            <img src="{{this.url}}" class=" rounded-3 spot-img-100 " >
        </div>
{{/each}}
    </div>
</div>
